@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

/* -------------- */
/*   GLOBAL     */
/* -------------- */
:root {
    --background: #EA0000;
    --font: #000000;
    --hover:#000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
/* -------------- */
/*     CURSOR     */
/* -------------- */

.custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}
.site-wide {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}
.site-wide .pointer {
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

/* -------------- */
/*   NAVBAR     */
/* -------------- */
nav {
    height: 15vh;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--font);
    list-style: none

}
.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 4rem;
    text-decoration: none;
    list-style: none;
    text-decoration-color: var(--font);
}
a {
    list-style: none;
    text-decoration: none;
    color: var(--font);
    font-weight: 100;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--font);
    /* letter-spacing: 1rem; */
   
}

/* -------------- */
/*   SECTIONS     */
/* -------------- */
section {
    height: 85vh;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
}
.hero-images {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}
.hero-img img{
    background-image: url('https://www.pexels.com/photo/young-jonn-28276863/');
    height: 50%;
    padding: 0.4rem;
}
.title-div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    font-size: 7rem;
    
}
.title {
    /* position: absolute;
    z-index: 3; */
    /* padding-left: 20%;
    padding-top: 10%; */
    color: var(--font);
}
.title h1 {
    font-size: 4rem;
    color: var(--font);
}

/* -------------- */
/*   footer       */
/* -------------- */
.line {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--font);
    padding: 0.4px;
    width: 100%;
}
footer {
    height: 40vh;
    background-color: var(--background);
}
.footer-div {
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 90%;
}
.box{
    width: 35%;
    justify-content: center;
    text-align: center;
}
.info {
    box-sizing: border-box;
    padding: 5%;
}
.location {
    box-sizing: border-box;
    display: block;
}
.location p {
    padding: 1rem;
    padding-top: 2rem;
}
.location ul {
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    list-style: none;
}
.location li {
    padding: 0.7rem;
}
.emails {
    box-sizing: border-box;
    display: grid;
    padding-top: 1rem;
    justify-content: center;
    padding-left: 3%;
}
